{% load static %}
<!DOCTYPE html>
<!--[if lt IE 8 ]><html class="no-js ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- Basic Page Needs
   ================================================== -->
   <meta charset="utf-8">
	<title>Ceevee - Free Responsive HTML5/CSS3 Template</title>
	<meta name="description" content="">
	<meta name="author" content="">

   <!-- Mobile Specific Metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
    ================================================== -->
   <link rel="stylesheet" href="{% static 'css/default.css' %} ">
	<link rel="stylesheet" href="{% static 'css/layout.css' %} ">
   <link rel="stylesheet" href="{% static 'css/media-queries.css' %} ">
   <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %} ">

   <!-- Script
   ================================================== -->
	<script src="{% static 'js/modernizr.js' %} "></script>

   <!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="{% static 'favicon.png' %} " >

</head>

<body>

   <!-- Header
   ================================================== -->
   <header id="home"  style="background: url(static/images/dd.jpg) no-repeat;"  >

      <nav id="nav-wrap">

         <a class="mobile-btn" href="#nav-wrap" title="{% static 'Show navigation' %} ">Show navigation</a>
	      <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

         <ul id="nav" class="nav">
            <li class="current"><a class="smoothscroll" href="#home">Home</a></li>
            <li><a class="smoothscroll" href="#about">About</a></li>
	         <li><a class="smoothscroll" href="#resume">Resume</a></li>
            <li><a class="smoothscroll" href="#portfolio">Works</a></li>
            <li><a class="smoothscroll" href="{% url 'contact' %}">Contact</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'admin:index' %} ">Admin</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'about' %} ">work</a></li>
         </ul> <!-- end #nav -->

      </nav> <!-- end #nav-wrap -->

      <div class="row banner">
         <div class="banner-text">
            <h1 class="responsive-headline">Hi, I'm Sarawut</h1>
            <h3>This is my resume and portfolio .</h3>
            <hr />
            <ul class="social">
               <li><a href="https://www.facebook.com/kob.sarawut.11"><i class="fa fa-facebook"></i></a></li>
               <li><a href="https://twitter.com/home"><i class="fa fa-twitter"></i></a></li>
               <li><a href="https://mail.google.com/"><i class="fa fa-google-plus"></i></a></li>
               <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
               <li><a href="https://www.instagram.com/?hl=th"><i class="fa fa-instagram"></i></a></li>
               <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
               <li><a href="#"><i class="fa fa-skype"></i></a></li>
            </ul>
         </div>
      </div>

      <p class="scrolldown">
         <a class="smoothscroll" href="#about"><i class="icon-down-circle"></i></a>
      </p>

   </header> <!-- Header End -->

   
   <!-- About Section
   ================================================== -->
   <section id="about">

      <div class="row">

         <div class="three columns">

            <img class=""  src="{% static 'images/one.jpg' %} " alt="" width="500"/>

         </div>

         <div class="nine columns main-col">

            <h2>ประวัติส่วนตัว</h2>

            <p>ชื่อจริง นายสราวุธ  ศรีพรม</p>
            <p>ชื่อเล่น กบ</p>
            <p>อาหารที่ชอบ ก๋วยเตี๋ยว </p>
            <p>สีที่ชอบ สีดำ สีเทา</p>
            <p>งานอดิเรก shopping ฟังเพลง</p>

            </div> <!-- end row -->

         </div> <!-- end .main-col -->
   </section> <!-- About Section End-->


   <!-- Resume Section
   ================================================== -->
   <section id="resume">

      <!-- Education
      ----------------------------------------------- -->
      <div class="row education">
         <div class="three columns header-col">
            <h1><span>Education</span></h1>
         </div>

         <div class="nine columns main-col">
            <div class="row item">
               <div class="twelve columns">
                  <h3>ระดับอนุบาล - ระดับประถมศึกษา</h3>
                  <p class="info">BanKok School <span>&bull;</span> 
                  <p>โรงเรียนบ้านโคกจาน หมู่ 3 ตำบลโคกจาน อำเภออุทุมพรพิสัย จังหวัดศรีสะเกษ </p>
               </div>
            </div> 
            <!-- item end -->
            <div class="row item">
               <div class="twelve columns">
                  <h3>ระดับมัธยมศึกษา 1-3 </h3>
                  <p class="info">Thungsimwittayakom School<span>&bull;</span> 
                  <p>โรงทุ่งสิมวิทยาคม หมู่ที่ 8 ตำบลโคกจาน อำเภออุทุมพรพิสัย จังหวัดศรีสะเกษ </p>
               </div>
            </div> 
            <!-- item end -->
            <div class="row item">
               <div class="twelve columns">
                  <h3>ระดับประกาศนียบัตรวิชาชีพ (ปวช.)</h3>
                  <p class="info">Bangna Commercial College<span>&bull;</span>
                  <p>วิทยาลัยพณิชยการบางนา เลขที่ 22 ซอยบางนา-ตราด 1 ถนนบางนา-ตราด แขวงบางนา เขตบางนา กรุงเทพมหานคร</p></div>
            </div> 
            <!-- item end -->

         </div> <!-- main-col end -->

      </div> <!-- End Education -->


      <!-- Work
      ----------------------------------------------- -->
      <div class="row work">

         <div class="three columns header-col">
            <h1><span>Work</span></h1>
         </div>

         <div class="nine columns main-col">

            <div class="row item">

               <div class="twelve columns">

                  <h3>ฝึกงาน</h3>
                  <p>บริษัท แอนเทค คอมมูนิเคชั่น จํากัด</p>
                  <p>ข้อมูล บริษัท ซีวิล อินฟินิตี้ จำกัด</p>

               </div>

            </div> <!-- item end -->

         </div> <!-- main-col end -->

      </div> <!-- End Work -->


      <!-- Skills
      ----------------------------------------------- -->
      <div class="row skill">

         <div class="three columns header-col">
            <h1><span>Skills</span></h1>
         </div>

         <div class="nine columns main-col">

            <p>
            </p>

				<div class="bars">

				   <ul class="skills">
					   <li><span class="bar-expand photoshop"></span><em>Photoshop</em></li>
                  <li><span class="bar-expand illustrator"></span><em>Illustrator</em></li>
						<li><span class="bar-expand wordpress"></span><em>Wordpress</em></li>
						<li><span class="bar-expand css"></span><em>CSS</em></li>
						<li><span class="bar-expand html5"></span><em>HTML5</em></li>
                  <li><span class="bar-expand jquery"></span><em>jQuery</em></li>
					</ul>

				</div><!-- end skill-bars -->

			</div> <!-- main-col end -->

      </div> <!-- End skills -->

   </section> <!-- Resume Section End-->


   <!-- Portfolio Section
   ================================================== -->
   <section id="portfolio">

      <div class="row">

         <div class="twelve columns collapsed">
         <center> <h2>ผลงาน.</h2></center>        
         <center>
         <a href="{% url 'about' %} "><img src="{% static 'images/portfolio/console.jpg' %}" width="500"></a> 
               <div class="portfolio-item">
                  <div class="item-wrap">
                     <a href="#modal-02" title="">
                        <div class="overlay">
          					      <h5>Console</h5>
                              <p>Web Development</p>
          					   </div>
                        </div>
                     </a>
                  </div>
          		</div> <!-- item end -->
               </div> <!-- portfolio-wrapper end -->
            </center>
         </div> <!-- twelve columns end -->

    <!-- Contact Section
   ================================================== -->
   <section id="contact">

         <div class="row section-head">

            <div class="two columns header-col">

               <h1><span>Get In Touch.</span></h1>

            </div>
</div>

         <div class="row">

            <div class="eight columns">

               <!-- form -->
               <form action="" method="post" id="contactForm" name="contactForm">
					<fieldset>

                  <div>
						   <label for="contactName">Name <span class="required">*</span></label>
						   <input type="text" value="" size="35" id="contactName" name="contactName">
                  </div>

                  <div>
						   <label for="contactEmail">Email <span class="required">*</span></label>
						   <input type="text" value="" size="35" id="contactEmail" name="contactEmail">
                  </div>

                  <div>
						   <label for="contactSubject">Subject</label>
						   <input type="text" value="" size="35" id="contactSubject" name="contactSubject">
                  </div>

                  <div>
                     <label for="contactMessage">Message <span class="required">*</span></label>
                     <textarea cols="50" rows="15" id="contactMessage" name="contactMessage"></textarea>
                  </div>

                  <div>
                     <button class="submit">Submit</button>
                     <span id="image-loader">
                        <img alt="" src="images/loader.gif">
                     </span>
                  </div>

					</fieldset>
				   </form> <!-- Form End -->

               <!-- contact-warning -->
               <div id="message-warning"> Error boy</div>
               <!-- contact-success -->
				   <div id="message-success">
                  <i class="fa fa-check"></i>Your message was sent, thank you!<br>
				   </div>

            </div>


            <aside class="four columns footer-widgets">

               <div class="widget widget_contact">

					   <h4>Address and Phone</h4>
					   <p class="address">
						   Jonathan Doe<br>
						   1600 Amphitheatre Parkway <br>
						   Mountain View, CA 94043 US<br>
						   <span>(123) 456-7890</span>
					   </p>

				   </div>

               <div class="widget widget_tweets">

                  <h4 class="widget-title">Latest Tweets</h4>
            </div>

            </aside>

      </div>

   </section> <!-- Contact Section End-->


   <!-- footer
   ================================================== -->
   <footer>

      <div class="row">

         <div class="twelve columns">

            <ul class="social-links">
               <li><a href="https://www.facebook.com/kob.sarawut.11"><i class="fa fa-facebook"></i></a></li>
               <li><a href="https://twitter.com/home"><i class="fa fa-twitter"></i></a></li>
               <li><a href="https://mail.google.com/"><i class="fa fa-google-plus"></i></a></li>
               <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
               <li><a href="https://www.instagram.com/?hl=th"><i class="fa fa-instagram"></i></a></li>
               <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
               <li><a href="#"><i class="fa fa-skype"></i></a></li>
            </ul>

            <ul class="copyright">
               <li>&copy; Copyright 2014 CeeVee</li>
               <li>Design by <a href="http://www.styleshout.com/" title="Styleshout" target="_blank">Styleshout</a></li>   
            </ul>

         </div>

         <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#home"><i class="icon-up-open"></i></a></div>

      </div>

   </footer> <!-- Footer End-->

   <!-- Java Script
   ================================================== -->
   <script src="{% static 'http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js' %} "></script>
   <script>window.jQuery || document.write('<script src="js/jquery-1.10.2.min.js "><\/script>')</script>
   <script type="text/javascript" src="{% static 'js/jquery-migrate-1.2.1.min.js' %} "></script>

   <script src="{% static 'js/jquery.flexslider.js' %} "></script>
   <script src="{% static 'js/waypoints.js' %} "></script>
   <script src="{% static 'js/jquery.fittext.js' %} "></script>
   <script src="{% static 'js/magnific-popup.js' %} "></script>
   <script src="{% static 'js/init.js' %} "></script>

</body>

</html>